@import "./../../styles/variables.scss";

.form-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //invalid data styles
  .invalid-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid $danger-color;
    border-radius: 6px;
    margin: 10px;
    margin-top: 0;
    width: 100%;

    p {
      background-color: $danger-color;
      color: white;
      font-weight: bold;
      border-top: 1px solid $danger-color;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    p,
    ul {
      padding: 8px;
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  div {
    margin-bottom: 1rem;
  }

  .edit-error-message,
  .add-error-message {
    @include error-messages-database($danger-color);
    font-size: 20px;
    margin-bottom: 40px;
  }

  // form inputs styles
  form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border: 1px solid $border-color;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
    width: 100%;

    @include breakpoint-small {
      padding: 15px;
    }

    input[type="text"],
    textarea,
    select {
      box-sizing: border-box;
      width: 100%;
      font-size: 1rem;
      padding: 10px;
      color: $grey-color;
      border: solid 1px $border-color;
      border-radius: 6px;
    }

    textarea {
      font-family: $text-font;
    }

    .priority-field,
    .categories-field {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      label {
        display: flex;
        align-items: center;
        color: $text-color;
        line-height: 1.2rem;

        input {
          height: 1.2rem;
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
      }
    }

    .add-submit-button {
      align-self: center;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      @include button-style-filled($secondary-color);

      svg {
        @include svg-style;
      }

      &:hover {
        @include button-style-outlined($secondary-color);
      }
    }
  }
}
