@import "./../../styles/variables.scss";

.edit-page {
  .back-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .back-task {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;

      @include button-style-filled($primary-color);

      &:hover {
        @include button-style-outlined($primary-color);
      }

      svg {
        @include svg-style;
        margin-top: 2px;
      }
    }

    .back-all-tasks {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;

      @include button-style-filled($grey-color);

      &:hover {
        @include button-style-outlined($grey-color);
      }

      svg {
        @include svg-style;
      }
    }
  }
}
