@import "./../../styles/variables.scss";

.tasks-comp {
  display: flex;
  flex-direction: column;

  h2,
  h4 {
    padding-top: 10px;

    color: $secondary-color;
    align-self: center;
  }

  h2 {
    font-size: 23px;

    @include breakpoint-small {
      font-size: 25px;
    }

    @include breakpoint-large {
      font-size: 28px;
    }
  }

  .no-tasks {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    h4 {
      font-size: 20px;
      padding-left: 10px;

      @include breakpoint-small {
        font-size: 23px;
      }

      @include breakpoint-medium {
        font-size: 24px;
      }

      @include breakpoint-large {
        font-size: 25px;
      }
    }

    svg {
      font-size: 240px;
      margin-top: -40px;
      color: $border-color;
      align-self: center;
      margin-bottom: 20px;

      @include breakpoint-medium {
        display: block;
        font-size: 300px;
        margin-top: -27px;
      }
    }
  }

  .clear-button {
    @include button-style-outlined($primary-color);
    align-self: center;
    display: flex;
    align-self: center;
    width: 80%;
    justify-content: center;

    svg {
      font-size: 17px;
      margin-left: 3px;
      margin-right: 3px;
    }

    &:hover {
      @include button-style-filled($primary-color);
    }
  }
}
