$text-font: "Source Sans Pro", sans-serif;
$title-font: "Kalam", cursive;

$text-color: #2c343c;
$background-color: #746f9d87;
$primary-color: #a1616e;
$secondary-color: #37384d;
$border-color: #c1c1c7;
$success-color: #3ba187;
$danger-color: #93240b;
$open-color: #7089a1;
$grey-color: #657788;

$p1-color: #dc4936;
$p2-color: #f88f52;
$p3-color: #258aaf;
$p4-color: #97a2a6;

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(600px) {
    @content;
  }
}

@mixin breakpoint-medium {
  @include breakpoint(935px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(1200px) {
    @content;
  }
}

@mixin buttons-style {
  border-radius: 6px;
  padding: 8px;
  font-size: 16px;
  font-family: $text-font;
  cursor: pointer;
}

@mixin button-style-outlined($color) {
  border: 1px solid $color;
  color: $color;
  background-color: white;
  @include buttons-style();
}

@mixin button-style-filled($color) {
  border: 1px solid $color;
  color: white;
  background-color: $color;
  @include buttons-style();
}

@mixin priorities {
  display: flex;
  align-items: center;

  .p1 {
    color: $p1-color;
  }

  .p2 {
    color: $p2-color;
  }

  .p3 {
    color: $p3-color;
  }

  .p4 {
    color: $p4-color;
  }

  svg {
    font-size: 18px;
    margin-left: 3px;
    margin-right: 3px;
  }
}
