@import "./../../../styles/variables.scss";

.task-comp {
  border: 1px solid $border-color;
  border-radius: 10px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $text-color;

  .task-info {
    line-height: 1.8em;
    padding: 10px;

    .Completed {
      color: $success-color;
    }

    .Open {
      color: $open-color;
    }

    .priority-info {
      @include priorities();
    }
  }

  .task-actions {
    border-top: 1px solid $border-color;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

    button {
      display: flex;
      align-items: center;

      svg {
        @include svg-style;
      }
    }

    .change-button {
      display: flex;
      justify-content: center;
      @include button-style-filled($primary-color);

      &:hover {
        @include button-style-outlined($primary-color);
      }

      @include breakpoint-medium {
        width: 20%;
      }
    }

    .edit-task {
      text-decoration: none;
      display: flex;
      justify-content: center;

      @include button-style-filled($secondary-color);

      &:hover {
        @include button-style-outlined($secondary-color);
        padding: 6px 8px;
      }

      padding: 6px 8px;

      svg {
        @include svg-style;
        margin-top: 2px;
      }

      @include breakpoint-medium {
        width: 20%;
      }
    }

    .remove-button {
      display: flex;
      justify-content: center;
      @include button-style-filled($danger-color);

      &:hover {
        @include button-style-outlined($danger-color);
      }

      svg {
        @include svg-style;
      }

      @include breakpoint-medium {
        width: 20%;
      }
    }
  }
}
