@import "./../../../styles/variables.scss";

.task-comp {
  border: 1px solid $border-color;
  border-radius: 10px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $text-color;

  .task-info {
    line-height: 1.8em;
    padding: 10px;

    .Completed {
      color: $success-color;
    }

    .Open {
      color: $open-color;
    }

    .priority-info {
      display: flex;
      align-items: center;

      .p1 {
        color: $p1-color;
      }

      .p2 {
        color: $p2-color;
      }

      .p3 {
        color: $p3-color;
      }

      .p4 {
        color: $p4-color;
      }

      svg {
        font-size: 18px;
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }

  .task-actions {
    border-top: 1px solid $border-color;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  button {
    display: flex;
    align-items: center;

    svg {
      font-size: 19px;
      margin-right: 5px;
    }
  }

  .change-button {
    @include button-style-outlined($grey-color);

    &:hover {
      @include button-style-filled($grey-color);
    }
  }

  .remove-button {
    @include button-style-outlined($danger-color);

    &:hover {
      @include button-style-filled($danger-color);
    }
  }
}
